
<%= form_with(model: post, local: true) do |form| %>
  <div class="field form-group">
    <%= form.label :titel ,class: "text-info"%>
    <%= form.text_field :titel,class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :body,class: "text-info" %>
    <%= form.text_area :body,class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit"Update",class: " btn btn-primary" %>
  </div>
<% end %>
 