<%= form_with(model: @post, remote: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :titel ,class: "text-info"%>
    <%= form.text_field :titel,class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :body,class: "text-info" %>
    <%= form.text_area :body,class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit"save",class: " btn btn-primary" %>
  </div>
<% end %>
 