

<h1>Posts</h1>

<% if user_signed_in? %>
  
  <%= link_to 'New Post', new_post_path ,class: "btn btn-primary text-white" %><br>

<% end %> <br>

<table class = "table-bordered w-100 text-center font-weight-bold thead-dark" >
  <thead class="thead-dark">
    <tr>
      <th>Titel</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.titel %></td>
        <td><%= post.body %></td>
        <td><%= link_to 'Show', post ,class: "btn btn-info text-white" %></td>
        <% if user_signed_in? %> 
        <td><%= link_to 'Edit', edit_post_path(post),class: "btn btn-danger text-white"  %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-primary text-white" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render partial: 'shared/pagination', locals: { pagy: @pagy }%>

<br>

