




<div class="jumbotron m-5">
   
<p>
  <strong>Titel:</strong>
  <%= @post.titel %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>
  <hr class="my-4">

  <td><%= link_to 'Edit', "#" ,{'data-toggle' =>  "modal", 'data-target' => "#post_#{@post.id}",class: "btn btn-danger text-white"}    %><%= link_to 'Back', posts_path,class: 'btn btn-info' %></td>
        
          <div class="modal fade" id= "post_<%=@post.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <%= render 'edit',post: @post%>
                  </div>
                </div>
              </div>

  

</div>